body {
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .locations-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .locations-grid > * > * {
    display: flex;
    align-items: flex-end;
  }

  .locations-grid > *:nth-child(odd) > *:not(aside) > *:first-child {
    padding-right: 3rem;
  }

  .locations-grid > *:nth-child(even) > *:not(aside) > *:first-child {
    order: 2;
    padding-left: 3rem;
  }

  .locations-grid > *:nth-child(even) > aside {
    transform: translateX(99%);
  }

  .locations-grid > *:nth-child(even) > aside:hover,
  .locations-grid > *:nth-child(even) > aside:focus {
    transform: scale(1.4) translateX(70%);
  }

  .locations-grid img {
    height: 40rem;
    max-width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1200px) {
  .locations-grid {
    max-width: unset;
    width: 100%;
    margin: unset;
  }

  .locations-grid img {
    width: 45vw;
    height: 50rem;
  }
}

.locations-grid .anchor-row:not(:last-of-type) > div {
  margin-bottom: 3rem;
}

.locations-grid .anchor-row h3 {
  transition: letter-spacing 0.2s;
}

.locations-grid .anchor-row:hover h3 {
  letter-spacing: 1px;
}

.locations-grid svg {
  width: 20rem;
  height: 20rem;
}

.locations-grid a {
  text-decoration: none;
}

.locations-grid h3 + p,
.locations-grid p + p {
  font-size: 66%;
  line-height: 1.4;
  font-weight: var(--weight-normal);
}
