.customize-menu-container {
  /* border: 2px solid red; */
  overflow-y: scroll;
}

.customize-menu-container[aria-expanded=false] {
  visibility: hidden;
  display: none;
}

.customize-menu-container {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.customize-menu {
  width: 60rem;
  max-width: 92%;
  max-height: calc(100vh - 4rem);
  margin: 2rem auto;
  padding: 2rem;
}

.customize-body {
  border: 1px solid currentColor;
}

.customize-body-form > *:last-child {
  border-bottom: 0;
}

.customize-body-head {
  border-bottom: 1px solid currentColor;
  padding-left: 2rem;
  padding-right: 2rem;
}

.customize-footer {
  padding-bottom: calc(100vh / 5);
}

.customize-footer a {
  /* padding: 1rem 2rem; */
  font-size: 80%;
}

.customize-footer a:first-child {
  margin-top: 2rem;
}
