footer {
  visibility: unset;
  margin: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: calc(var(--body-font-size) / 1.8);
  line-height: calc(var(--body-line-height) / 1.6);
  font-weight: var(--weight-normal);
  flex-shrink: 0; /* sticky footer */
}
